/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #83a4d4, #b6fbff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

.container {
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    max-width: 350px;
    width: 100%;
    backdrop-filter: blur(10px);
}

.search {
    margin-bottom: 20px;
}

.search-bar {
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    color: #333;
    outline: none;
}

.search-button {
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    background-color: #00b4d8;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 7px
}

.search-button:hover {
    background-color: #0077b6;
}

.current-weather h1 {
    font-size: 60px;
    margin: 10px 0;
}

.current-weather h3 {
    font-size: 24px;
    margin: 10px 0;
}

.current-weather h4 {
    font-size: 18px;
    margin: 5px 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        max-width: 90%;
    }
}